:root {
  --primary: #38A1FF ;
  --secondary: #F4B100;
  --black: #171717;
  --white: #FFFFFF;
  --white-brand: #DCEEFF;
  --gray: #7F7F7F;
}



.header{
    max-width: 1330px !important;
    margin: 10px auto;
    padding: 12px 40px;
    border-radius: 15px;
}

.footer{
   max-width: 1330px !important;
    margin: 10px auto;
}

@media  (max-width: 480px){
  .header{
    padding: 12px 20px;
  }
}

